<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <!--BOOTSTRAP-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            
            <style>
                .my-container{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    padding: 10px;
                }
                
                .my-btn{
                    width: 60%;
                }
            </style>
    </head>
    <body th:style="'height:100vh; width: 100%; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/CSS/Images/overlay.jpg), url(/CSS/Images/Background.jpg); background-repeat: no-repeat; background-position: top; background-size: cover;'">
        <div class="container my-container">
            <div class="child" style="margin-bottom: 100px;">
                <div class="row w-100 p-3 ">
                    <h1 style="color: #fff; margin-bottom: 50px; text-decoration: underline; font-weight: 700; letter-spacing: 2px" class="text-center">MANAGE PRODUCTS</h1>
                </div>
                <div class="row w-100 p-3 align-items-center">
                    <div class="col">
                        <div class="">
                            <a href="/all-products" style="margin-left: 50%; transform: translateX(-50%);" class="my-btn btn btn-light btn-lg py-3 px-5 text-uppercase">View All Products</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="">
                            <a href="#" style="margin-left: 50%; transform: translateX(-50%);" class="my-btn btn btn-light btn-lg py-3 px-5 text-uppercase">Get Product By Id</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="">
                            <a href="#" style="margin-left: 50%; transform: translateX(-50%);" class="my-btn btn btn-light btn-lg py-3 px-5 text-uppercase">Add New Product</a>
                        </div>
                    </div>
                </div>
                <div class="row w-100 p-3 align-items-center">
                    <div class="col">
                        <div class="">
                            <a href="#" style="margin-left: 50%; transform: translateX(-50%);" class="my-btn btn btn-light btn-lg py-3 px-5 text-uppercase">Edit<br>Product</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="">
                            <a href="#" style="margin-left: 50%; transform: translateX(-50%);" class="my-btn btn btn-light btn-lg py-3 px-5 text-uppercase">Delete All Products</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="">
                            <a href="#" style="margin-left: 50%; transform: translateX(-50%);" class="my-btn btn btn-light btn-lg py-3 px-5 text-uppercase">Delete Product By Id</a>
                        </div>
                    </div>
                </div>
                <div class="row w-100 p-3 align-items-center">
                    <div class="">
                        <a href="/home" style="margin-left: 50%; transform: translateX(-50%);" class="btn btn-light py-3 px-5 text-uppercase mt-5"><< Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
